div {
    width: 100px;
    height: 100px;
    display: inline-block;
}

/*#d1 {
    background-color: rgb(255, 0, 0);
    position: absolute;
    right: 100px;
    
}

#d2 {
    background-color: rgb(0, 0, 255);
    position: relative;
    left: 66px;
    bottom: -66px;
}

#d3 {
    background-color: rgb(0, 255, 0);
    position: relative;
    right: 34px;
    bottom: 34px;

}*/
.square1 {
    background-color: red;
    position: absolute;
    top: 0px;
    right: 66px;
    z-index: 1;
}

.square2 {
    background-color: blue;
    position: absolute;
    top: 66px;
    right: 0px;
    z-index: 2;
}

.square3 {
    background-color: rgb(0, 255, 42);
    position: absolute;
    top: 33px;
    right: 33px;
    z-index: 3;

}